.membership {
  margin-top: 100px;
  padding: 50px 0;
  padding-bottom: 100px;
  background: #040404;

  .membership_content {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;

    .membership_slide {
      overflow: hidden;
      white-space: nowrap;

      .membership_marquee_slide {
        display: inline-block;
        animation: marquee 100s infinite linear;
        position: relative;
        margin-top: -70px;

        .slide_content {
          display: flex;
          align-items: center;
          h1 {
            margin-left: 40px;
            font-family: "Sora";
            font-style: normal;
            font-weight: 800;
            font-size: 230px;
            // line-height: 290px;
            letter-spacing: 1px;
            color: #b2b2b20d;
          }
        }

        @keyframes marquee {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-100%);
          }
        }
      }
    }

    .membership_header {
      position: relative;
      bottom: 240px;
      h3 {
        font-family: "Sora";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 63px;
        color: #ffffff;
      }

      h4 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
}

// Responsiveness starts here

@media (max-width: 1024px) {
}

/* Medium Screens */
@media (max-width: 991px) {
}

/* Small Screens */
@media only screen and (max-width: 480px) {
  .membership {
    margin-top: 50px;

    .membership_content {
      .membership_slide {
        .membership_marquee_slide {
          margin-top: -50px;
          .slide_content {
            h1 {
              font-size: 150px;
            }
          }
        }
      }

      .membership_header {
        bottom: 160px;

        h3 {
          font-size: 27px;
          line-height: 35px;
        }

        h4 {
          margin-top: 15px;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}
