.brands {
  margin: 0 auto;
  width: 90%;

  div {
    color: #b2b2b20d;
    font-family: "Sora";
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    display: inline-block;
    animation: marquee 15s linear infinite;

    @keyframes marquee {
      from { transform: translateX(0); } /* Starting position */
      to { transform: translateX(-100vw); } /* Ending position */
    }
}
}