.testimonial {
  margin: 150px auto;

  .testimonial_header {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    h1 {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 63px;
      color: #000000;
    }

    h4 {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
    }
  }
}

// Responsiveness starts here

@media (max-width: 1024px) {
}

/* Medium Screens */
@media (max-width: 991px) {
}

/* Small Screens */
@media only screen and (max-width: 480px) {
  .testimonial {
    margin: 100px auto;

    .testimonial_header {
      h1 {
        font-size: 28px;
        line-height: 35px;
      }

      h4 {
        margin-top: 10px;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
